@tailwind base;
@tailwind components;
@tailwind utilities;

.animate{
 animation: imgAni 3s ease-in-out 0s infinite normal none;
}
@keyframes imgAni {
  0.0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}